<div>
    <div style="margin-bottom: 5px">
        <button type="button" class="btn btn-secondary" ng-click="hideSidebar()" ng-show="sideBarIsOpened"> <- </button>
        <button type="button" class="btn btn-secondary" ng-click="showSidebar()" ng-show="!sideBarIsOpened"> -> </button>
        <button type="button" class="btn btn-secondary" ng-click="studentEditWidget.add()">Добавить</button>
        <button type="button" class="btn btn-secondary" ng-click="setEditState($event)">Редактирование занятий</button>
        <select id="" class="custom-select" name="" ng-model="selected_month">
            <option value="{{m.val}}" ng-repeat="m in month_list">{{m.label}}</option>
        </select>
    </div>
    <table class="table table-sm table-bordered table-striped table-hover" style="cursor: pointer" ng-init="menuIndex">
        <tr>
            <th style="border-color: #000; width: 1%">#</th>
            <th style="border-color: #000; width: 20%">ФИО, Телефон</th>
            <th style="border-color: #000; width: 30%">Коментарии</th>
            <th style="border-color: #000; text-align: center" 
                ng-repeat="date in data.dates" 
                ng-class="{'text-danger': date.profit==-1, 'text-success': date.profit==1}"
                ng-click="lessonWidget.show($index)">
                {{date.day}}
                <!--{{date.val}}-->
            </th>
        </tr>
        <tr ng-repeat="student in main_list">
            <td style="border-color: #000">{{$index + 1}}</td>
            <td style="border-color: #000"
                ng-mouseenter="menuIndex=$index"
                ng-mouseleave="menuIndex=null"
                ng-dblclick="studentEditWidget.show($index, main_list)">
                <span class="student-edit-widget" ng-show="$index==studentEditWidget.index">
                    <input type="text" 
                           ng-size="studentEditWidget.data.last_name.length" 
                           default-size="7"
                           placeholder="Фамилия"
                           ng-model="studentEditWidget.data.last_name" />
                    <input type="text" 
                           ng-size="studentEditWidget.data.name.length" 
                           placeholder="Имя"
                           default-size="3"
                           ng-model="studentEditWidget.data.name" /><br>
                    <input type="text" style="margin-top: 3px" 
                           ng-size="studentEditWidget.data.phone.length" 
                           placeholder="Телефон"
                           default-size="7"
                           ng-model="studentEditWidget.data.phone" />
                </span>
                <span ng-show="$index!=studentEditWidget.index && !studentEditWidget.opened">
                    <div>
                        {{student.info.last_name}} {{student.info.first_name}}<br>{{formatPhone(student.info.phone)}}
                        <ul style="padding: 10px; display: block; position: absolute; background-color: #fff; border: 1px solid #000;" 
                            ng-show="menuIndex==$index && !studentEditWidget.opened">
                            <li><a href="" ng-click="studentEditWidget.delete($index)">Удалить</a></li>
                            <li><a href="" ng-click="studentEditWidget.trash($index)">В помойку</a</li>
                            <li><a href="" ng-click="groupMoving.open(student)">В другую группу</a</li>
                        </ul>
                    </div>
                </span>
            </td>
            <td style="border-color: #000;" ng-init="disabled=true" ng-dblclick="disabled=!disabled" >
                <app-comment group="data.group.id" ng-init="comment=getComment(student.info.id)" student="student.info.id" disabled="disabled" text="{{comment.text}}" time="{{comment.time}}"></app-comment>
            </td>
            <td ng-repeat="lesson in student.lessons track by $index" 
                ng-click="lessonWidget.show($index)"
                style="background-color: {{getSellColor(lesson.status, lesson.group_pass.color)}}; border-color: #000; vertical-align: middle;">
                <span ng-if="lesson.status == 1">
                    {{lesson.group_pass.pass_type.prise / lesson.group_pass.pass_type.lessons}}
                    <img src="static/img/delete.png" 
                        ng-show="canEditLessons == true"
                        ng-click="deleteLesson($event, $index, student)" 
                        style="width: 25px; height: 25px" />
                </span>
                <span style="color: red" ng-if="lesson.status == 2">
                    {{lesson.group_pass.pass_type.prise / lesson.group_pass.pass_type.lessons}}
                </span>
                <span style="color: red;" ng-if="lesson.status == 4" >
                    пропуск
                </span>
                <span style="color: red" ng-if="lesson.status == -1">
                    долг
                </span>
                <span ng-if="lesson.status == 0" ng-show="canEditLessons == true">
                    <div style="font-weight: bold;">
                        <a href="" 
                           ng-show="checkMoveingAbility(student, index-1)"
                           ng-click="moveLesson($event, $index, $index-1, student)" 
                           style="float: left; display: inline-block"><</a>
                        <img src="static/img/delete.png" 
                           ng-click="deleteLesson($event, $index, student)" 
                            style="width: 25px; height: 25px; position: relative; left: 14%" />
                        <a href="" 
                           ng-show="checkMoveingAbility(student, index+1)"
                           ng-click="moveLesson($event, $index, $index+1, student)" 
                           style="float: right; display: inline-block">></a>
                    </div>
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="border-color: #000">Всего за занятие</td>
            <td style="border-color: #000" ng-repeat="date in data.dates">{{calcLesson($index)}}</td>
        </tr>
        <tr>
            <td colspan="3" style="border-color: #000">Аренда зала</td>
            <td style="border-color: #000" ng-repeat="date in data.dates">
                <span ng-if="calcLesson($index)">
                    {{data.group.dance_hall.prise}}
                </span>
            </td>
        </tr>
        <tr>
            <td style="border-color: #000" colspan="3">% Клуба</td>
            <td style="border-color: #000" ng-repeat="date in data.dates">{{calcClub($index) | number}}</td>
        </tr>
        <tr>
            <td style="border-color: #000" colspan="3">ИТОГО за занятие</td>
            <td style="border-color: #000" ng-repeat="date in data.dates">{{calcTotal($index) | number}}</td>
        </tr>
        <tr ng-repeat="teacher in data.teachers.list" ng-if="checkTeacher(teacher)">
            <td colspan="3" style="border-color: #000">{{teacher.last_name}} {{teacher.first_name}}</td>
            <td style="border-color: #000" ng-repeat="date in data.dates">{{ calcTeacherSalary(teacher, $index) | number }}</td>
        </tr>
    </table>
     
    <div class="row">
        <div class="col-md">
            <h5>Ученики не посещающие занятия</h5>
            <table class="table table-bordered table-stripped table-hovered">
                <tr>
                    <th style="border-color: #000; width: 30%">Фамилия, Имя<br>Телефон</th>
                    <th style="border-color: #000">Коментарии</th>
                    <th style="border-color: #000; width: 15%"></th>
                </tr>
                <tr ng-repeat="student in sub_list">
                    <td style="border-color: #000">{{student.info.last_name}} {{student.info.first_name}}<br>{{formatPhone(student.info.phone)}}</td>
                    <td style="border-color: #000" ng-init="disabled=true" ng-dblclick="disabled=!disabled">
                        <app-comment group="data.group.id" student="student.info.id" ng-init="comment=getComment(student.info.id)" disabled="disabled" text="{{comment.text}}" time="{{comment.time}}"></app-comment>
                    </td>
                    <td style="border-color: #000">
                        <a href="">Удалить</a><br>
                        <a href="">В помойку</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md">
            <h5>Финансы</h5>
            <table class="table">
                <tr>
                    <td>Итого за месяц</td>
                    <td style="text-align: right; font-weight: bold;">{{totals.calcTotal() | number}}</td>
                </tr>
                <tr>
                    <td>Аренда зала</td>
                    <td style="text-align: right; font-weight: bold;">{{totals.calcDanceHall() | number}}</td>
                </tr>
                <tr>
                    <td>% Клуба</td>
                    <td style="text-align: right; font-weight: bold;">{{totals.calcClubTax() | number}}</td>
                </tr>
                <tr>
                    <td>Чистая прибыль</td>
                    <td style="text-align: right; font-weight: bold;">{{totals.calcProfit() | number}}</td>
                </tr>
                <tr ng-repeat="teacher in data.teachers.list" ng-if="checkTeacher(teacher)">
                    <td>{{teacher.last_name}} {{teacher.first_name}} - ЗП</td>
                    <td style="text-align: right; font-weight: bold;">{{totals.calcTeacherSalary(teacher) | number}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="lessonWidget" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{lessonWidget.date}} <span ng-show="lessonWidget.is_canceled"> - ОТМЕНЕНО</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"
                     ng-show="!lessonWidget.is_canceled"
                     style="overflow-y: scroll; height: {{lessonWidget.windowHeight-315}}px;">
                    <table class="table table-bordered">
                        <tr ng-repeat="student in lessonWidget.data">
                            <td style="width: 50%">{{student.info.last_name}} {{student.info.first_name}}</td>
                            <td ng-click="lessonWidget.process_student(student.lesson)" 
                                style="background-color: {{student.lesson.group_pass.color}}">
                                
                                <select id="" 
                                        ng-model="student.lesson.temp_pass"
                                        name="" ng-if="student.lesson.temp_status < 0" 
                                        class="form-control">
                                    <option value="">--добавить оплату--</option>
                                    <option value="-2">долг</option>
                                    <option value="-1" ng-if="lessonWidget.checkClubCard(student.info.id)">оплата по клубной карте</option>
                                    <option value="{{pass_type.id}}" ng-repeat="pass_type in data.pass_types">
                                        {{pass_type.name}}
                                    </option>
                                </select>
                                <input type="checkbox" ng-if="student.lesson.temp_status >= 0" 
                                    ng-checked="student.lesson.temp_status == 1" />

                            </td>
                        </tr>
                    </table>
                </div>
                <form class="modal-body form-inline" action="">
                    <div class="form-group mx-sm-3" 
                         ng-init="t_index = $index"
                         ng-repeat="n in [].constructor(data.teachers.cnt) track by $index">
                        <select style="margin-bottom: 10px" 
                                class="form-control" 
                                id="" 
                                name="" 
                                ng-model="lessonWidget.teachers[t_index]">
                            <option value="-1">--не было--</option>
                            <option value="{{teacher.id}}" ng-repeat="teacher in data.teachers.list">
                                {{teacher.last_name}} {{teacher.first_name}}
                            </option>
                        </select>
                    </div>
                </form>
                <div class="modal-footer" ng-show="!lessonWidget.is_canceled">
                    <div>
                        <button class="btn" type="button" ng-click="lessonWidget.cancelLesson()">Отменить занятие</button>
                    </div>
                    <div>
                        <button type="button" class="btn" ng-click="lessonWidget.save(false)">Сохранить без пропусков</button>
                        <button type="button" class="btn btn-primary" ng-click="lessonWidget.save(true)">Сохранить с пропусками</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="lessonWidget.cancel()">Отмена</button>
                    </div>
                </div>
                <div class="modal-footer" ng-show="lessonWidget.is_canceled">
                    <button class="btn" type="button" ng-click="lessonWidget.restoreLesson()">Восстановить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="lessonWidget.cancel()">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <div id="groupMoving" 
         class="modal" 
         role="dialog" 
         ng-init="group" 
         ng-init="date">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{groupMoving.student.info.last_name}}
                        {{groupMoving.student.info.first_name}}
                    </h5>
                    <button type="button" 
                            class="close" 
                            data-dismiss="modal" 
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label for="">Группа</label>
                            <select id="" name="" class="form-control" ng-model="group">
                                <option value="-1">--выберите группу--</option>
                                <option value="{{g.id}}" 
                                        ng-repeat="g in groupMoving.all_groups">
                                
                                <span style="font-weight: bold">
                                    {{g.dance_hall.station}} {{g.name}} {{g.days}} {{g.time}}
                                </span>

                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Дата</label>
                            <datepicker date-format="dd.MM.yyyy" 
                                        date-week-start-day="1" 
                                        date-year-title="selected title">
                                    <input style="margin-bottom: 15px" 
                                           type="text" 
                                           placeholder="дата" 
                                           class="form-control" 
                                           ng-model="date" />
                            </datepicker>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" 
                            class="btn btn-primary" 
                            ng-click="groupMoving.save(date, group)">
                        Сохранить
                    </button>
                    <button type="button" 
                            class="btn btn-secondary" 
                            data-dismiss="modal" 
                            ng-click="">
                        Отмена
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="studentEdit" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{studentEditWidget.data.last_name}} {{studentEditWidget.data.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" 
                           ng-click="studentEditWidget.setTab('info')"
                           ng-class="{active: studentEditWidget.tab=='info'}"
                           href="">Информация</a>
                    </li>
                    <li class="nav-item" ng-show="studentEditWidget.student!=null">
                        <a class="nav-link"
                           ng-click="studentEditWidget.setTab('editor')"
                           ng-class="{active: studentEditWidget.tab=='editor'}"
                           href="">Редактирование занятий</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link"
                           ng-click="studentEditWidget.setTab('history')"
                           ng-class="{active: studentEditWidget.tab=='history'}"
                           href="">История абонементов</a>
                    </li>
                    -->
                </ul>
            </div>
            <div class="modal-body" ng-show="studentEditWidget.tab=='info'">
                <form>
                    <div class="form-group row">
                        <label for="studentEditPhone" class="col-sm-2 col-form-label">Телефон</label>
                        <div class="col-sm-10">
                            <input type="text" 
                                   class="form-control"
                                   id="studentEditPhone"
                                   placeholder="Введите телефон"
                                   ng-model="studentEditWidget.data.phone" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="studentEditLastName" class="col-sm-2 col-form-label">Фамилия</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="studentEditLastName"
                                   placeholder="Введите фамилию"
                                   ng-model="studentEditWidget.data.last_name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="studentEditName" class="col-sm-2 col-form-label">Имя</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="studentEditName"
                                   placeholder="Введите имя"
                                   ng-model="studentEditWidget.data.name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="studentEditOrg" class="col-sm-3 col-form-label">Орг-статус</label>
                        <div class="col-sm-1" style="padding-top: 12px;">
                            <input type="checkbox"
                                   class="form-control"
                                   id="studentEditOrg"
                                   placeholder="Введите имя"
                                   ng-model="studentEditWidget.data.org" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-body" ng-show="studentEditWidget.tab=='history'">
                <table style="border: 1px solid #000;" 
                       class="table table-bordered table-stripped">
                    <tr>
                        <td>Тип</td>
                        <td>Дата покупки</td>
                        <td>Остаток занятий</td>
                        <td>Остаток пропусков</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="modal-body" ng-show="studentEditWidget.tab=='editor'">
                <form  class="col-md-5" style="margin: 0 auto">
                    <div class="form-group">
                        <label for="act">Действие</label>
                        <select id="act" name="" ng-model="studentEditWidget.editor.tab" class="custom-select form-control">
                            <option value="delete">удалить</option>
                            <option value="move">перенести</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="studentEditWidget.editor.tab=='delete'">
                        <datepicker date-format="dd.MM.yyyy" date-week-start-day="1" date-year-title="selected title">
                            <input style="margin-bottom: 15px" type="text" placeholder="дата" class="form-control" ng-model="studentEditWidget.editor.data.date_0" />
                        </datepicker>
                        <input type="number" placeholder="количество занятий"  ng-model="studentEditWidget.editor.data.cnt" class="form-control" />
                    </div>
                    <div class="form-group" ng-show="studentEditWidget.editor.tab=='move'">
                    <datepicker date-format="dd.MM.yyyy" date-week-start-day="1" date-year-title="selected title">
                        <input style="margin-bottom: 15px" type="text" placeholder="дата с" class="form-control" ng-model="studentEditWidget.editor.data.date_1" />
                    </datepicker>
                    <datepicker date-format="dd.MM.yyyy" date-week-start-day="1" date-year-title="selected title">
                        <input type="text" placeholder="дата на" class="form-control" ng-model="studentEditWidget.editor.data.date_2" />
                    </datepicker>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="studentEditWidget.save()">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="studentEditWidget.clear()">Отмена</button>
            </div>
            </div>
        </div>
    </div>
</div>
