<div>
    <div style="margin-bottom: 5px">
        <button type="button" class="btn btn-secondary" ng-click="studentEditWidget.show()">Добавить</button>
    </div>
    <table class="table table-bordered table-striped table-hover" style="cursor: pointer">
        <tr>
            <th style="border-color: #000; width: 1%">#</th>
            <th style="border-color: #000; width: 20%">ФИО, Телефон</th>
            <th style="border-color: #000; width: 30%">Коментарии</th>
            <th style="border-color: #000" ng-repeat="date in data.dates" ng-click="lessonWidget.show($index)">{{date}}</th>
        </tr>
        <tr ng-repeat="student in main_list">
            <td style="border-color: #000">{{$index + 1}}</td>
            <td style="border-color: #000" ng-dblclick="studentEditWidget.show($index, main_list)">{{student.info.last_name}} {{student.info.first_name}}<br>{{student.info.phone}}</td>
            <td style="border-color: #000" ></td>
            <td ng-repeat="lesson in student.lessons track by $index" 
                ng-click="lessonWidget.show($index)"
                style="background-color: {{lesson.group_pass.color}}; border-color: #000">
                <span ng-if="lesson.status == 1">
                    {{lesson.group_pass.pass_type.prise / lesson.group_pass.pass_type.lessons}}
                </span>
                <span style="color: red" ng-if="lesson.status == 2">
                    {{lesson.group_pass.pass_type.prise / lesson.group_pass.pass_type.lessons}}
                </span>
                <span style="color: red" ng-if="lesson.status == 4" >
                    пропуск
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="border-color: #000">Всего за занятие</td>
            <td style="border-color: #000" ng-repeat="date in data.dates">{{calcLesson($index)}}</td>
        </tr>
        <tr>
            <td colspan="3" style="border-color: #000">Аренда зала</td>
            <td style="border-color: #000" ng-repeat="date in data.dates">
                <span ng-if="calcLesson($index)">
                    {{data.group.dance_hall.prise}}
                </span>
            </td>
        </tr>
        <tr>
            <td style="border-color: #000" colspan="3">% Клуба</td>
            <td style="border-color: #000" ng-repeat="date in data.dates">{{calcClub($index)}}</td>
        </tr>
        <tr>
            <td style="border-color: #000" colspan="3">ИТОГО за занятие</td>
            <td style="border-color: #000" ng-repeat="date in data.dates">{{calcTotal($index)}}</td>
        </tr>
    </table>

    <div id="lessonWidget" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{lessonWidget.date}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr ng-repeat="student in lessonWidget.data">
                        <td style="width: 50%">{{student.info.last_name}} {{student.info.first_name}}</td>
                        <td ng-click="lessonWidget.process_student(student.lesson)" 
                            style="background-color: {{student.lesson.group_pass.color}}">

                            <select id="" 
                                    ng-model="student.lesson.temp_pass"
                                    name="" ng-if="student.lesson.temp_status < 0" 
                                    class="form-control">
                                <option value="">--добавить оплату--</option>
                                <option value="{{pass_type.id}}" ng-repeat="pass_type in data.pass_types">
                                    {{pass_type.name}}
                                </option>
                            </select>
                            <input type="checkbox" ng-if="student.lesson.temp_status >= 0" 
                                   ng-checked="student.lesson.temp_status == 1" />

                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" ng-click="lessonWidget.save(false)">Сохранить без пропусков</button>
                <button type="button" class="btn btn-primary" ng-click="lessonWidget.save(true)">Сохранить с пропусками</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="lessonWidget.cancel()">Отмена</button>
            </div>
            </div>
        </div>
    </div>

    <div id="studentEdit" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{studentEditWidget.student.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="studentEditPhone" class="col-sm-2 col-form-label">Телефон</label>
                        <div class="col-sm-10">
                            <input type="text" 
                                   class="form-control"
                                   id="studentEditPhone"
                                   placeholder="Введите телефон"
                                   ng-model="studentEditWidget.data.phone" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="studentEditLastName" class="col-sm-2 col-form-label">Фамилия</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="studentEditLastName"
                                   placeholder="Введите фамилию"
                                   ng-model="studentEditWidget.data.last_name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="studentEditName" class="col-sm-2 col-form-label">Имя</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="studentEditName"
                                   placeholder="Введите имя"
                                   ng-model="studentEditWidget.data.name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="studentEditOrg" class="col-sm-3 col-form-label">Орг-статус</label>
                        <div class="col-sm-1" style="padding-top: 12px;">
                            <input type="checkbox"
                                   class="form-control"
                                   id="studentEditOrg"
                                   placeholder="Введите имя"
                                   ng-model="studentEditWidget.data.org" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="studentEditWidget.save()">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="studentEditWidget.clear()">Отмена</button>
            </div>
            </div>
        </div>
    </div>
</div>
