{% load static %}
<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Электронный журнал</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'build/vendor.css' %}" />
        <script src="{% static 'build/vendor.js' %}"></script>
        <script src="{% static 'build/app.js' %}"></script>
    </head>
    <body>
        {% csrf_token %}
        {% verbatim %}

        <nav style="margin-bottom: 5px;" 
             ng-controller="navBarCtrl"
             class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="/">ШТ "Динамика". Электронный журнал</a>
            <span class="navbar-text" style="padding-top: 0; padding-bottom: 0;">{{header2}} {{header}}</span>
            <ul class="nav justify-content-end">
                <li class="nav-item" ng-controller="authCtrl">
                    <a class="nav-link" href="#" style="color: #fff;" ng-click="logout()">Выход</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-2" ng-controller="sideBarCtrl" ng-show="showSideBar">
                    <div class="list-group">
                        <a class="list-group-item" 
                           href="/#/group/{{group.id}}" 
                           ng-class="{active: active==group.id}"
                           ng-repeat="group in groups">
                            <span ng-show={{group.show_date}}>
                                <strong>
                                    c {{group.start_date}}
                                </strong>
                            </span>
                            {{group.dance_hall.station}} {{group.days}} {{group.time}}
                            <br>
                            {{group.name}}
                        </a>
                    </div>
                </div>
                <div class="col" ng-view></div>
            </div>
        </div>
        {% endverbatim %}
    </body>
</html>
