{% load static %}
<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Электронный журнал</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'build/vendor.css' %}" />
        <script src="{% static 'build/vendor.js' %}"></script>
        <script src="{% static 'build/app.js' %}"></script>
    </head>
    <body>
        {% csrf_token %}
        {% verbatim %}

        <nav style="margin-bottom: 5px;" 
             ng-controller="navBarCtrl"
             class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="/">ШТ "Динамика". Электронный журнал</a>
            <span class="navbar-text" style="padding-top: 0; padding-bottom: 0;">{{header2}} {{header}}</span>
            <ul class="nav justify-content-end">
                <li class="nav-item" ng-controller="authCtrl" ng-show="user != null">
                    <span class="navbar-text" style="padding: 0">{{user.last_name}} {{user.first_name}}</span>
                    <a class="nav-link" href="#" style="color: #fff; text-align: right; padding: 0" ng-click="logout()">Выход</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-2" ng-controller="sideBarCtrl" ng-show="showSideBar">
                    <div class="list-group">
                        <span ng-repeat="level in elements" style="padding: 0 0 3px 0;" ng-init="show=true">
                            <a class="list-group-item text-secondary" 
                               ng-click="show=!show"
                               href="">
                                {{level.label}}
                            </a>
                            <a class="list-group-item" 
                               href="/#/group/{{group.id}}" 
                               ng-class="{active: active==group.id}"
                               ng-show="show"
                               ng-repeat="group in level.groups track by $index">
                                <strong ng-show="group.show_st">
                                  <div style="padding: 0 5px" class="bg-info text-white">
                                      c {{group.start_date}}
                                  </div>
                                </strong>
                                <span ng-class="{'text-danger': group.profit==-1, 'text-success': group.profit==1}">
                                    {{group.dance_hall.station}} {{group.days}} {{group.time}}<br>{{group.name}}
                                </span>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col" ng-view></div>
            </div>
        </div>
        {% endverbatim %}
    </body>
</html>
