<input type="hidden" {{ attrs }} />
<div style="display: inline-block; vertical-align: top; border: 1px solid #CCCCCC; min-height: 130px">
    <h2>Внесенные донаборы</h2>
    <p id="dates-default" style="margin: 10px; padding: 0; text-align: center;" class="help hidden">Для этой группы еще не<br>создано ни одного донабора</p>
    <ul id="upd-list" style="list-style: none; margin: 10px;">
        {% for val in values %}
            <li class="dateListElement"><input type="checkbox">{{ val }}</li>
        {% endfor %}
    </ul>
    <div style="margin-top: 10px; padding: 5px; text-align: center; display: inline-block; border-right: 1px solid #CCCCCC">
        <a href="" class="del-date">удалить<br>выбранные</a>
    </div>
    <div style="margin-top: 10px; padding: 5px; text-align: center; display: inline-block;">
        <a href="" class="del-date del-all">удалить<br>все</a>
    </div>
</div>

<div id="add-block" style="display: inline-block; border: 1px solid #CCCCCC; width: 250px; text-align: center;">
    <h2>Добавление донаборов</h2>
    <input id="add-block-inp" class="vDateField" type="text" style="margin: 5px 0;" />
    <p style="margin: 0 0 10px 0; padding: 0" class="help">Введите дату в формате "ДД.ММ.ГГГГ"</p>
    <div style="text-align: center">
        <button id="add-block-btn">Добавить</button>
    </div>
</div>

<script type="text/javascript">
    (function() {
        var defaultMsg = document.querySelector('#dates-default');
        function checkUlAndShowDefaultMsg() {
            if(ul.children.length > 0) {
                defaultMsg.classList.add('hidden');
            } else {
                defaultMsg.classList.remove('hidden');
            }
        }

        function updateFormField() {
            var lis = ul.children, res = '';
            for(var i= 0, j= lis.length; i<j; i++) {
                res += (lis[i].innerText + ';');
            }
            hiddenInp.value = res;
        }

        function parseToHtml(s) {
            var sharp = s.indexOf('#') >= 0 ? s.indexOf('#') : NaN,
                    dot = s.indexOf('.') >= 0 ? s.indexOf('.') : NaN;

            if (!isNaN(sharp) && !isNaN(dot)) {
                tagIndex = Math.min(sharp, dot)
            } else {
                tagIndex = Math.min(sharp || s.length, dot || s.length)
            }

            var tag = s.slice(0, tagIndex),
                    id = !isNaN(sharp) ? s.slice(sharp + 1, s.indexOf('.', sharp) + 1 > 0 ? s.indexOf('.', sharp) + 1 : s.length) : '',
                    classes = s.replace(new RegExp('^' + tag), '').replace(new RegExp('#[A-Za-z0-9]*'), '').slice(1).split('.');

            var buf = [];
            for(var i= classes.length-1; i>=0; i--) {
                if(classes[i] != '') {
                    buf.push(classes[i]);
                }
            }

            return {
                tag: tag,
                id: id,
                classes: buf
            }
        }

        function createElement(elemStr, innerValue, parrent) {
            var html = parseToHtml(elemStr);

            var elem = document.createElement(html.tag);
            elem.innerHTML = innerValue;
            elem.id = html.id;

            for(var i= 0, j= html.classes.length; i<j; i++) {
                elem.classList.add(html.classes[i]);
            }

            if(parrent) {
                parrent.appendChild(elem);
            }

            return elem;
        }

        // init
        var btn = document.querySelector('#group-upd'),
            btn2 = document.querySelector('#add-block-btn'),
            addBlock = document.querySelector('#add-block'),
            inp = document.querySelector('#add-block-inp'),
            ul = document.querySelector('#upd-list'),
            hiddenInp = document.querySelector('#id_updates'),
            delHrefs = document.querySelectorAll('.del-date');

        checkUlAndShowDefaultMsg();

        // evets
        btn2.addEventListener('click', function(event) {
            event.preventDefault();

            var option = createElement('input');
            option.type = 'checkbox';
            option.classList.add('dateSelect');

            createElement('li', option.outerHTML + inp.value, ul);
            checkUlAndShowDefaultMsg();
            updateFormField();
        });

        ul.addEventListener('click', function(event) {
            console.log(event.target.checked);
        });

        for(var i= delHrefs.length-1; i>=0; i--) {
            delHrefs[i].addEventListener('click', function(event) {
                event.preventDefault();

                if(confirm('ВНИМАНИЕ!\n После сохранения страницы восстановить удаленные донаборы не получится.\nУдалить?')) {
                    if(event.target.classList.contains('del-all')) {
                        ul.innerHTML = '';
                    } else {
                        var lis = ul.children,
                            newUlHtml = '',
                            li, input;

                        for(var i= 0, j= lis.length; i<j; i++) {
                            li = lis[i];
                            input = li.children[0];
                            if(input && !input.checked) {
                                newUlHtml += li.outerHTML;
                            }
                        }

                        ul.innerHTML = newUlHtml;
                    }

                    updateFormField();
                    checkUlAndShowDefaultMsg();
                }
            })
        }
      updateFormField();
    })();
</script>
